.DS_Store
RTS.xcodeproj/project.xcworkspace/xcuserdata/magnussaurbier.xcuserdatad/UserInterfaceState.xcuserstate
RTS.xcodeproj/xcuserdata/magnussaurbier.xcuserdatad/xcschemes/xcschememanagement.plist
